div.pz-input-editor {
    display: inline-block;
    cursor: pointer;
}

div.pz-input-editor:hover {
    color: #9a4e37;
    font-weight: bold;
}

input.pz-input-editor {
    display: none;
    text-align: right;
}