input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

body {
    background-color: #fafafa;
    font-size: 14px;
}

input[type=radio] {
    cursor: pointer;
}

textarea {
    resize: none;
}

select.form-control {
    padding: 0px 4px !important;
    height: 30px !important;
}

input[type="checkbox"] {
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.dt-buttons, button.export-button {
    display: inline-block;
}

.datepicker {
    background-color: #fff !important;
}

.nav .nav-item a {
    color: #888 !important;
}

.nav .nav-item a.active {
    color: #9a4e37 !important;
}

.btn {
    cursor: pointer;
    padding: .15rem .5rem .3rem .5  rem;
}

.btn-icon {
    padding: 0px 8px;
}

.btn-icon-sm {
    padding: 0px;
    width: 18px;
    height: 18px;
    font-size: 10px;
}

.btn-default.btn-icon {
    color: #555 !important;
}

.btn-default {
    background-color: #fff;
    color: #555;
    border: 1px solid #ddd;
}

.btn-default:hover {
    background-color: #ddd;
}

.btn-primary-pz {
    background-color: #9a4e37;
    color: #fff;
}

.btn-primary-pz:hover {
    background-color: #92432b;
}

.btn-warning-pz {
    background-color: #da9011;
    color: #fff;
}

.btn-warning-pz:hover {
    background-color: #f1a420;
    color: #fff;
}

.btn-excel-pz {
    background-color: #28b403;
    color: #fff !important;
}

.btn-excel-pz:hover {
    background-color: #3cd713;
}

.shadow {
    -webkit-box-shadow: 0 2px 4px -2px #aaa;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0 2px 4px -2px #aaa;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 2px 4px -2px #aaa;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.shadow-sm {
    -webkit-box-shadow: 0 1px 2px -1px #aaa;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0 1px 2px -1px #aaa;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 1px 2px -1px #aaa;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.topbar {
    display: flex;
    padding: 0px;
    background-color: #9a4e37;
    color: #fff;
}

.topbar div {
    display: inline-block;
}

.topbar a {
    cursor: pointer;
}

.topbar-title {
    margin-left: 15px;
    padding-right: 80px;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 45px;
}

.topbar a.menu-item {
    margin: 0px;
    padding: 0px 15px;
    display: inline-block;
    line-height: 45px;
    background-color: #9a4e37;
    color: #fff;
    text-decoration: none;
}

.topbar a.menu-item:hover, .topbar a.user-item:hover {
    background-color: #92432b;
}

.topbar .nav-item.menu-item ul {
    margin: 0px;
    padding: 0px;
}

.topbar .nav-item.menu-item a {
    width: 100%;
}

.topbar .topbar-user-container {
    padding: 0px;
    margin-left: auto;
    margin-right: 0px;
    display: inline-block;
    line-height: 45px;
}

.topbar .topbar-user-container a.user-item {
    padding: 0px 15px;
    text-decoration: none;
    color: #fff;
    line-height: 45px;
    display: inline-block;
}

.sub-topbar {
    padding: 10px 15px;
    background-color: #fefefe;
    color: #666;
    border-bottom: 1px solid #ccc;
}

.sub-topbar-title {
    padding: 5px 0px 10px 0px;
    font-size: 1.25em;
}

.sub-topbar-search {
    padding: 0px 4px;
    font-size: 1.0em;
}

.small-topbar {
    padding: 2px 15px;
    background-color: #fefefe;
    color: #666;
    border-bottom: 1px solid #ccc;
}

.small-topbar-title {
    padding: 4px 0px 6px 0px;
    font-size: 1.25em;
}

.criteria-container {
    padding: 5px 5px 5px 18px;
    color: #333;
}

.criteria-container .label-width-1 {
    width: 120px;
}

.criteria-container .label-width-2 {
    width: 100px;
}

.criteria-container .label-width-3 {
    width: 80px;
}

.criteria-container .label-width-4 {
    width: 140px;
}

.criteria-container .label, .criteria-container .input {
    display: inline-block;
    padding: 1px;
}

.criteria-container .label {
    border-right: 0px solid #ccc;
    font-weight: bold;
}

.criteria-container .input .form-control, .display-input-container .input .form-control, .label-input-form .input .form-control {
    padding: 3px;
    font-size: 14px;
}

.display-input-container .label, .display-input-container .input{
    display: inline-block;
    padding: 1px;
}

.display-input-container .label {
    font-weight: normal;
}

.display-input-container .label-width-1 {
    width: 120px;
}

.display-input-container .label-width-2 {
    width: 150px;
}

.label-input-form .label, .label-input-form .input {
    display: inline-block;
    padding: 1px;
}

.label-input-form .label {
    font-weight: bold;
    vertical-align: top;
}

.label-input-form  .label-width-1 {
    width: 120px;
}

.action-panel {
    margin: 12px auto auto auto;
    padding: 0px;
    width: 100%;
    max-width: 1100px;
    text-align: right;
}

.content-panel {
    margin: 12px auto auto auto;
    padding: 15px 15px;
    width: 100%;
    max-width: 1100px;
    background-color: #fff;
    border: 1px solid #ccc;

    -webkit-box-shadow: 0 2px 10px #ddd;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0 2px 10px #ddd;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 2px 10px #ddd;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.content-panel .content-panel-title {
    color: #555;
    font-weight: bold;
}

.form-panel, .form-modal {
    font-size: 12px;
}

.form-panel .form-control, .form-modal .form-control {
    margin: 2px;
    padding: 4px;
    font-size: 14px;
}

.form-panel label, .form-modal label {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    line-height: 2.5em;
    font-weight: bold;
    color: #555;
}

.label-danger {
    color: red;
}

table.dataTable tbody tr:hover {
    background-color: rgba(255, 255, 0, 0.4);
}

table.dataTable tbody tr {
    cursor: pointer;
}

.export-excel-form {
    display: inline-block;
}

.menu-item.menu-active, .user-item.menu-active {
    background-color: #d35129 !important;
}

.no-sort::after, .no-sort::before { display: none!important; }

.no-sort { pointer-events: none!important; cursor: default!important; }

.tooltip-chart {
    position: relative;
}

.custom-chart .ct-series {
    cursor: pointer;
}

.custom-chart .ct-series .ct-bar{
    stroke: #2974d5;
}

.custom-chart .ct-label {
    color: #000;
}

.chart-header-pz {
    font-weight: bold;
    font-size: 18px;
}

/*submenu*/
/*.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}*/
