.dataitem-item {
    margin: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

.dataitem-item:hover {
    background-color: #f9f9f9;
}

.dataitem-item .dataitem-item-image, .dataitem-item .dataitem-item-text {
    display: inline-block;
    vertical-align: top;
}

.dataitem-item .dataitem-item-image {
    padding: 1px;
}

.dataitem-item .dataitem-item-text {
    padding: 4px 10px;
}

.dataitem-item .dataitem-item-image img {
    width: 90px;
    height: 90px;
}

.dataitem-item .dataitem-item-text > .title {
    font-weight: bold;
}

.dataitem-item .dataitem-item-text .desc {
    text-indent: 8px;
    font-size: 0.8em;
}