.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}
.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .no-line {
    border-top: none !important;
}

.cus-table{
    margin: 0px !important;
}

.cus-table td{
    font-size:  10px;

}