#productPackageModal input {
    margin: 0px 2px 2px 2px;
    padding: 2px 4px;
    font-size: 0.9rem;
}

#productPackageModal label {
    font-weight: normal;
}

#ppkg_table_lot_size input {
    width: 100%;
}

#ppkg_lotitems_table th {
    font-size: 11px;
    font-weight: bold;
}

#ppkg_lotitems_table tfoot td {
    font-size: 11px;
    font-weight: bold;
    color: #000;
}

.font-pass {
    color: blue;
}

.font-fail {
    color: red;
}