.ot-color-1, .lv-color-1 {
    color: #000;
    font-weight: bold;
}

.ot-color-3 {
    color: #000;
    font-weight: bold;
}

.nsf-color-1, .ftd-color-1 {
    color: #0000ff;
    font-weight: bold;
}

.ts-text-color-2 {
    color: #ff0000;
}

.ot-color-2, .nsf-color-2, .ftd-color-2, .ts-color-2, .lv-color-2 {
    color: #ccc;
}

.total-tr-color {
    background-color: #f4f4f4;
    color: #000;
}

.total-tr-color td {
    border: 1px solid #d5d5d5;
}

.box-panel-1 {
    background-color: #e8e8e8;
    border: 1px solid #cdcdcd;
    padding: 5px;
}

.tr-holiday-1 td {
    background-color: #ffd5c1;
}

.tr-holiday-2 td {
    background-color: #ebd5ff;
}

.tr-holiday-3 td {
    background-color: #ffffc1;
}

.tr-holiday-4 td {
    background-color: #c1ffc1;
}

.tb-timesheet td, .tb-timesheet th {
    border: 1px solid #ccc;
}

.sc-container-1 {
    overflow: auto;
}