#rstable th {
    border-bottom: none;
}

#rstable td {
    border-bottom: none;
}

#rstable_wrapper table th, #rstable_wrapper table td {
    background-color: #fefefe;
}

table.dataTable {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border-collapse: collapse !important;
}

div.dataTables_wrapper {
    width: 800px;
    margin: 0 auto;
}

.DTFC_LeftBodyWrapper {
    top: -1px !important;
}

#resultContainer th { 
    padding: 4px;
}