#rstable th {
    border-bottom: none;
    padding: 3px;
}

#rstable td {
    border-bottom: none;
    padding: 2px;
}

.bg-ot-1 {
    background-color: #ccc;
}

.bg-ot-2 {
    background-color: #cee;
}

.bg-ot-3 {
    background-color: #ddd;
}

.bg-ot-4 {
    background-color: #eee;
}

.label-input-form .row {
    margin-top: 8px;
}